@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

.button {
    height: 164px;
    width: 164px;
    border-radius: 17px;
    background-color: white;
    box-shadow: 0px 3px 6px #0000003f;
    margin: 10.5px 10.5px 10.5px 10.5px;
    float: left;
}
